
:root {
    --canvas-width: 512px;
    --canvas-height: 512px;
}

body {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;

    overflow: hidden;
}


.content {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-areas:
        'uiTop uiTop uiTop'
        'uiLeft drawArea uiRight';

    grid-template-rows: 20px 1fr;
    grid-template-columns: 15vw 70vw 15vw;
}


.ui {
    height: 100vh;
    background-color: #DDD;

    z-index: 600;
}


.ui-t {
    background-color: #AAA;
    grid-area: uiTop;

    height: 100%;
    width: 100vw;
}
.ui-l {
    grid-area: uiLeft;
}
.ui-r {
    grid-area: uiRight;
}


.draw-area {
    position: relative;
    width: 100%;
    grid-area: drawArea;
    background-color: #666;
}

.panning {
    cursor: move;
}

.canvas-grp {
    width: var(--canvas-width);
    height: var(--canvas-height);

    position: absolute;

    top: calc(50% - var(--canvas-height)/2);
    left: calc(50% - var(--canvas-width)/2);
}

.draw-canvas {
    width: 100%;
    height: 100%;

    position: absolute;
    border: 1px solid black;

    image-rendering: pixelated;
}

.bg-cv {
    z-index: 0;
    background-color: #FFF;
}
.m-cv {
    z-index: 100;
}
.fg-cv {
    z-index: 200;
}
.db-cv {
    z-index: 300;
}