
body {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;
}

.canvas-grp {
    width: 512px;
    height: 512px;

    position: absolute;
}

.draw-canvas {
    width: 100%;
    height: 100%;

    position: absolute;
    border: 1px solid black;

    image-rendering: crisp-edges;
}

.picker {
    position: absolute;
    top: 40%;
    left: 80%;
}